{% extends 'base.html'%}

{% block content%}

<div class="container mt-5">
    <h2>Video Transcriber</h2>
    <form method="post" action="{% url 'transcriber' %}">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit">Submit</button>
    </form>

    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    {% if video_text is not None %}
    <p>Video Transcript: <br> {{ video_text }}</p>
    {% endif %}

</div>
{% endblock %}